body {
  font-family: Arial;
  font-size: 120%;
}

.timer {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

a {
  position: absolute;
  top: 1rem;
  left: 1rem;
  text-decoration: none;
  color: black;
}

header {
  /* margin: 80px auto 0 auto;
  max-width: 500px; */
  margin: 5rem;
  background-color: aqua;
}
